:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #c0c2da;
  text-decoration: inherit;
}
a:hover {
  color: #eec16e;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 !important;
  margin: 0 5px;
}

.header{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 200px;
}
.table-header{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.header-1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 260px;
  font-size: 1rem;
}

.header-2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 220px;
  font-size: 1rem;
}

.header-3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 120px;
  text-align: center;
  font-size: 1rem;
}

.row-1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 260px;
}

.row-2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 220px;
}

.row-3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 120px;
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 65%;
}

.nav-link{
  width: 100px;
  color: wheat !important;
}

.right{
  text-align: end !important;
}

.table{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row{
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.row > * {
  padding: 0px 20px;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.labelFact{
  display: inline-block;
  text-align: end;
  width: 165px;
  padding: 10px;
  font-size: 0.8rem;
}

.inputFact{
  width: 270px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.3em 0.8em;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

.titles{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileUpload{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, .linkButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #dd1313;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.linkButton:hover {
  border-color: #d2f123;
}
.linkButton:focus,
.linkButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-container_inputs{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alert{
  inset: 0;
}

.container-form{
  width: 100%;
  margin-top: 100px;
}

.meta{
  width: 100% !important;
  margin-top: 100px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1180px) {
  .container-form{
    width: 1200px;
    margin-top: 100px;
  }

  .header {
    width: 100%;
    height: 120px;
  }

  .navbar {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .nav-link{
    display: flex;
    justify-content: center;
  }
  .form{
    width: 100%;
  }
  .button-res{
    align-items: center !important;
    margin: 0 !important;
  }

  .ajuste-centro{
    width: 100vw;
  }

  .button-res > a{
    width: auto;
    margin-bottom: 10px;
  }
}


@media (max-width: 480px) {
  .table-header, .row {
    flex-direction: row;
  }

  .table-header{
    flex-direction: row;
  }

  .button-res{
    align-items: center;
    margin: 0;
  }

  .button-res > a{
    width: auto;
    margin-bottom: 10px;
  }

  .alert{
    top: 1% !important;
    inset: 1;
    width: 80%;
  }

  .form-container_inputs{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-container_inputs > input {
    width: 65%;
  }
  .form-container_inputs > label {
    width: 25%;
    text-align: end;
  }

  .form{
    width: 100%;
  }

  .header {
    width: 100%;
    height: 120px;
  }

  .navbar {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .nav-link{
    display: flex;
    justify-content: center;
  }

  .labelFact {
    width: 100%;
    text-align: start; 
  }

  .inputFact {
    width: 100%;
    font-size: 0.9rem; 
  }

  button, .linkButton {
    width: 100%;
  }
}
